decays_PDG2016Plus_massorder_new.dat
decays_PDG2016Plus_massorder_original.dat
readme_original.txt
decays_PDG2016Plus_massorder_reversed.dat
decays_QM2016Plus_massorder.dat
Plots/total_branching_ratio_to_pionmin.png
Plots/total_branching_ratio_to_pionplu.png
Plots/total_branching_ratio_to_pions.png
.gitignore
Plots/importance_score_all_particles.png
Plots/importance_score_all_particles_both.png
decays_PDG2016Plus_massorder_new_reversed.dat
decays_PDG2016Plus_massorder.dat
decays_PDG2016Plus_massorder_0.001.dat
decays_PDG2016Plus_massorder_0.01.dat
decays_PDG2016Plus_massorder_0.01_reversed.dat
decays_PDG2016Plus_massorder_0.001_reversed.dat
decays_PDG2016Plus_massorder_0.0001_reversed.dat
decays_PDG2016Plus_massorder_0.0001.dat
decays_PDG2016Plus_massorder_1e-05_reversed.dat
decays_PDG2016Plus_massorder_1e-05.dat
decays_PDG2016Plus_massorder_1e-06_reversed.dat
decays_PDG2016Plus_massorder_1e-06.dat
decays_PDG2016Plus_massorder_1e-07_reversed.dat
decays_PDG2016Plus_massorder_1e-07.dat
decays_PDG2016Plus_massorder_1e-08_reversed.dat
decays_PDG2016Plus_massorder_1e-08.dat
decays_PDG2016Plus_massorder_1e-09_reversed.dat
decays_PDG2016Plus_massorder_1e-09.dat
__pycache__/parser.cpython-312.pyc
__pycache__/reverser.cpython-312.pyc
Dataframes/*
__pycache__/pdg_lib.cpython-312.pyc
PDG-related/List_onlymine.txt
PDG-related/List.txt
test.txt
decays_PDG2016Plus_massorder_err.dat
calculator.ipynb
Plots/pion_production.png
Plots/PDG-API/errors_plot.png
cuts_fine/*
cuts_finer/*
cuts_mass/*
Plots/importance_cutoff_study.png
Plots/norm_importance_score_all_particles.png
output.txt
Dataframe_errors.txt
Database/pdg-2025-v0.2.1.sqlite
.gitignore
Plots/importance_cutoff_study_test.png
Datalayout/*
cuts_study/*
Plots/PDG-API/errors_plot_all.png
output_decay.txt
logs/part_found.txt
logs/products.txt
logs/products_unmatched.txt
.gitignore
logs/part_found copy.txt
logs/whitespace.txt
